<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <app-user-profile></app-user-profile>
        </div>
        <div class="col-md-8">
            <div class="border shadow d-flex align-items-center p-2 mb-4" style="width: 80%;">
                <img class="card-img-top p-1 rounded-circle"
                    src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Card image cap" style="border-radius: 50%; width: 100px; height: 100px;">
                <h4 class="mb-0" style="margin-left: 5%;">Shubhanshi Agrawal</h4>
            </div>
  
        </div>
    </div>
  </div>