<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-user-profile></app-user-profile>
        </div>
        <div class="col-md-8">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        Add new post or upload new image
                    </div>
                    <p>Show post in card view</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">POst</li>

                    </ul>
                </div>
                <button class="btn btn-primary mt-3 col-3">Post</button>

            </div>
            <div class=" mt-5">
                <div class="card">
                    <div class="card-header">
                      Exisiting POst
                    </div>
                    <p>Show post in card view</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">POst</li>

                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>