<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-user-profile></app-user-profile>
        </div>
        <div class="col-md-8">

            <div class="card">
                <div class="card-header">
                    <strong>Add new post / upload new image</strong>
                </div>
                <form class="form p-2" #form="ngForm" (ngSubmit)="createPost()">
                    <textarea name="post" id="post" class="form-control mt-3 " [(ngModel)]="postModel.post"
                        placeholder="Add post content..."></textarea>
                    <div class="row mt-3">
                        <div class="col">
                            <label class="form-label">Profession</label>
                            <input type="text" class="form-control" name="profession" id="profession"
                                [(ngModel)]="postModel.profession">

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="isActive"
                                    [(ngModel)]="postModel.isActive" name="isActive">
                                <label class="form-check-label" for="isActive">Is Active?</label>
                            </div>

                        </div>
                        <div class="col">
                            <label class="form-label">Upload Image</label>
                            <button class="btn btn-outline-secondary form-control">Upload Image</button>
                        </div>

                    </div>
                    <button class=" btn btn-primary mt-3 col-3" type="submit">Post</button>
                    <button class="btn btn-outline-secondary mt-3 col-3" style="margin-left: 2%;"
                        type="reset">Clear</button>

                </form>

            </div>


            <div class="mt-3">
                <div>
                    <ng-container *ngIf="allPost">
                        <div class="card mt-2" *ngFor="let post of allPost">
                            <div *ngIf="post.isActive==true">
                                <div class="card-header">
                                    <strong>{{post.userName}}</strong>
                                </div>
                                <div class="card-body">
                                    <p>{{post.post}}</p>

                                </div>
                            </div>

                        </div>

                    </ng-container>


                </div>
            </div>

        </div>
    </div>
</div>