<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <app-user-profile></app-user-profile>
        </div>
        <div class="col-md-8">
            <ng-container *ngIf="users">
                <div *ngFor="let user of users">
                    <div class="border shadow d-flex align-items-center p-2 mb-4">
                        <img class="card-img-top p-1 rounded-circle"
                            src="https://cdn.iconscout.com/icon/free/png-512/free-user-avatar-contact-portfolio-personal-portrait-profile-2-5270.png?f=webp&w=512"
                            alt="Card image cap" style="border-radius: 50%; width: 100px; height: 100px;">
                        <h4 class="mb-0" style="margin-left: 5%;">{{user.firstName}} {{user.lastName}}</h4>
                        <button class=" btn btn-primary" style="margin-left: auto;" (click)="sendRequest(user)">Send Request</button>
                    </div>
                </div>
            </ng-container>


        </div>
    </div>
</div>