<div class="d-flex justify-content-center">
    <div class="card border-black text-center" style="width: 18rem;">
        <img class="card-img-top p-3"
            src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="Card image cap" style="border-radius: 50%;">
        <div class="card-body border">
            <p class="card-text">xx connection</p>
        </div>
        <div class="card-body border">
            <p class="card-text">xx connection</p>

        </div>
    </div>
</div>